<div class="row">
    <div class="col-md-12">
        <form [formGroup] = "ingredientForm" (ngSubmit) = "onSubmit()">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        name="name" 
                        class="form-control"
                        formControlName = "name" 
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        type="number" 
                        name="amount" 
                        class="form-control"
                        formControlName = "amount"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success mr-1" [disabled] = "!ingredientForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger mr-1" (click) = "onDeleteItem()"  *ngIf = "editMode">Delete Item</button>
                    <!-- <button class="btn btn-primary mr-1">Clear</button> -->
                    <button type="reset" class="btn btn-primary" (click) = "onClearItem()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
